---
import '../main.css'
import MenuView from '../components/MenuView.astro'
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=980">
    <meta name="description" content="阿部寛さんのホームページ風のサイト">
		<title>Laddgeのホームページ</title>
	</head>
	<body>
    <div class="flex h-screen">
      <div class="overflow-auto" style={{ width: '18%' }}>
        <MenuView />
      </div>
      <div class="w-1 border-r-black" style={{ backgroundColor: '#d0d0d0', borderWidth: '.5px 0', borderLeftColor: '#aaa' }} />
      <div class="grow p-1">
        <iframe name="right" title="rightFrame" src="/top/" class="w-full h-full" />
      </div>
    </div>
	</body>
</html>
