---
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Laddgeのホームページ</title>
	</head>
	<body>
    <div class="flex h-screen">
      <div class="w-1/5 bg-[#f0f0ff] overflow-auto" />
      <div class="w-1 bg-[#d0d0d0] border-x-[.5px] border-l-[#aaa] border-r-black" />
      <div class="grow overflow-auto" />
    </div>
	</body>
</html>
