---
import '../main.css'
import MenuView from '../components/MenuView.astro'
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Laddgeのホームページ</title>
	</head>
	<body>
    <div class="flex h-screen">
      <div class="w-[18%] overflow-auto">
        <MenuView />
      </div>
      <div class="w-1 bg-[#d0d0d0] border-x-[.5px] border-l-[#aaa] border-r-black" />
      <div class="grow p-1">
        <iframe name="right" src="/top" class="w-full h-full" />
      </div>
    </div>
	</body>
</html>
