---
import '../main.css'
import profile from '../images/mh_profile.svg'
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href={profile} as="image" />
		<meta name="generator" content={Astro.generator} />
		<title>プロフィール</title>
	</head>
  <body class="bg-repeat" style={{ backgroundImage: `url(${profile})`, backgroundSize: '400px 110px' }}>
  </body>
</html>
