---
import '../main.css'
import profile from '../images/mh_profile.svg'
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
    <link rel="preload" href={profile} as="image" />
    <meta name="viewport" content="width=980">
    <meta name="description" content="阿部寛さんのホームページ風のサイト">
		<title>プロフィール</title>
	</head>
  <body class="bg-repeat" style={{ backgroundImage: `url(${profile})`, backgroundSize: '400px 110px' }}>
    <h2 class="text-center text-2xl pt-10 mb-4 font-bold">Laddgeのプロフィール</h2>
    <table width="752" class="mx-auto border-separate border-spacing-x-4 border-spacing-y-8">
      <tbody>
        <tr>
          <td width="120">本名</td>
          <td>まだない</td>
        </tr>
        <tr>
          <td>ニックネーム</td>
          <td>Laddge（らっじ）</td>
        </tr>
        <tr>
          <td>生年月日</td>
          <td>2004年6月28日 蟹座 申年</td>
        </tr>
        <tr>
          <td>血液型</td>
          <td>Ｏ型</td>
        </tr>
        <tr>
          <td>出身地</td>
          <td>長野県長野市</td>
        </tr>
        <tr>
          <td>生息地</td>
          <td>Twitter</td>
        </tr>
        <tr>
          <td>学歴</td>
          <td>長野県屋代高等学校卒</td>
        </tr>
        <tr>
          <td>サイズ</td>
          <td>身長168ｃｍ 体重 55Ｋｇ 靴 27ｃｍ</td>
        </tr>
        <tr>
          <td>趣味</td>
          <td>Twitter</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
