---
import '../main.css'
import social from '../images/mh_social.svg'
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href={social} as="image" />
		<meta name="generator" content={Astro.generator} />
		<title>SNS</title>
	</head>
  <body class="bg-repeat" style={{ backgroundImage: `url(${social})`, backgroundSize: '400px 110px' }}>
    <h2 class="text-center text-2xl pt-10 mb-4 font-bold">SNS</h2>
    <table width="600" class="mx-auto font-bold table-bordered">
      <tbody>
        <tr>
          <td>Twitter =&gt; <a href="https://twitter.com/laddge_" target="_blank">@laddge_</a></td>
        </tr>
        <tr>
          <td>Instagram =&gt; <a href="https://instagram.com/laddge_" target="_blank">@laddge_</a></td>
        </tr>
        <tr>
          <td>Threads =&gt; <a href="https://www.threads.net/@laddge_" target="_blank">@laddge_</a></td>
        </tr>
        <tr>
          <td>LINE =&gt; <a href="https://line.me/R/ti/p/%40172cslwb" target="_blank">Laddge</a></td>
        </tr>
        <tr>
          <td>GitHub =&gt; <a href="https://github.com/laddge" target="_blank">@laddge</a></td>
        </tr>
        <tr>
          <td>Qiita =&gt; <a href="https://qiita.com/laddge" target="_blank">@laddge</a></td>
        </tr>
        <tr>
          <td>Zenn =&gt; <a href="https://zenn.dev/laddge" target="_blank">@laddge</a></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
