---
---

<div class="h-full pl-4 pt-8" style={{ backgroundColor: '#f0f0ff' }}>
  <table class="border-separate border-spacing-x-2 border-spacing-y-8">
    <tbody>
      <tr>
        <td width="10" style={{ color: '#ffcccc', fontSize: '10px' }}>●</td>
        <td width="148">
          <a href="/top" target="right">トップ</a>
        </td>
      </tr>
      <tr>
        <td width="10" style={{ color: '#00ff00', fontSize: '10px' }}>●</td>
        <td width="148">
          <a href="/social" target="right">SNS</a>
        </td>
      </tr>
      <tr>
        <td width="10" style={{ color: '#33ffff', fontSize: '10px' }}>●</td>
        <td width="148">
          <a href="/qiita" target="right">Qiitaの記事</a>
        </td>
      </tr>
      <tr>
        <td width="10" style={{ color: '#0099ff', fontSize: '10px' }}>●</td>
        <td width="148">
          <a href="/zenn" target="right">Zennの記事</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
