---
---

<div class="h-full bg-[#f0f0ff] pl-4 pt-8">
  <table class="border-separate border-spacing-x-2 border-spacing-y-4">
    <tbody>
      <tr>
        <td width="10" class="text-[#FFCCCC] text-[10px]">●</td>
        <td width="148">
          <label for="top">
            <a class="">トップ</a>
          </label>
        </td>
      </tr>
      <tr>
        <td width="10" class="text-[#00FF00] text-[10px]">●</td>
        <td width="148">
          <label for="social">
            <a>SNS</a>
          </label>
        </td>
      </tr>
      <tr>
        <td width="10" class="text-[#33FFFF] text-[10px]">●</td>
        <td width="148">
          <label for="qiita">
            <a>Qiitaの記事</a>
          </label>
        </td>
      </tr>
      <tr>
        <td width="10" class="text-[#0099FF] text-[10px]">●</td>
        <td width="148">
          <label for="zenn">
            <a>Zennの記事</a>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
