@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-blue-600;
  text-decoration: underline;
}

a:hover {
  @apply text-blue-800;
}

a:visited {
  @apply text-purple-600;
}

.table-bordered {
  border: 1px solid;
  border-collapse: separate;
}

.table-bordered td {
  border: 1px solid;
}
